{% extends 'frame.html' %}
{% block sidebar %}
    <ul class="vertical-nav-menu">
        <li>
            <a href="/">
                <i class="metismenu-icon fas fa-chevron-circle-left"></i>
                Home
            </a>
        </li>
        <li class="app-sidebar__heading">Admin Settings</li>
        <li>
            <a href="/settings/installed-methods.html">
                <i class="metismenu-icon fas fa-book"></i>
                Installed Methods
            </a>
        </li>

    </ul>
{% endblock %}